<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<appSettings>
		<add key="DataFilePath" value="C:\inetpub\DataEaiApi\DataFile\"/>
		<add key="BackUpFilePath" value="C:\WriteCityData\BackUpFile\"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="conn" connectionString="Data Source=172.16.2.240,1433; Initial Catalog = EMSAP1; User ID = AMDB1000; Password = emsap1123"/>-->
	<add name="conn" connectionString="Data Source=10.12.80.1,1433; Initial Catalog = EMSAP1; User ID = sa; Password = P@$$$w0rD@mds"/>
	</connectionStrings>
</configuration>
