<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DataFilePath" value="D:\work\DataEaiApi\DataFile\" />
		<add key="BackUpFilePath" value="D:\work\DataEaiApi\BackUpFile\" />
	</appSettings>
	<connectionStrings>
		<!--<add name="conn" connectionString="Data Source=172.16.2.240,1433; Initial Catalog = EMSAP1; User ID = AMDB1000; Password = emsap1123"/>-->
	<add name="conn" connectionString="Data Source=172.16.30.51,1433; Initial Catalog = EMSAP1; User ID = sa; Password = !QAZ2wsx"/>
	</connectionStrings>
</configuration>